<html>  
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
    <title>sinapuli</title>
	<script src="/scripts/jquery-1.10.2.min.js"></script>
	<script src="/scripts/jquery-ui-1.10.3.custom.min.js"></script>
	<link href="/css/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		jQuery.noConflict();
		jQuery(document).ready(function(\$){
			\$("input[name='startTenderDate']").datepicker({ dateFormat: 'dd/mm/yy' });		
			\$("input[name='endTenderDate']").datepicker({ dateFormat: 'dd/mm/yy' });
		});
	</script>
  </head>
  
  <body>
    </div>


<h1>Crear Proyecto</h1>
<p>Complete la informacion del proyecto.</p>
<form action="/proyect/submit" method="post"  enctype="multipart/form-data">


  <label for="name">Nombre:</label>
  <input type="text" name="name">
  <br><br>

  <label for="description">Descripcion:</label>
  <input type="text" name="description">
  <br><br>
  
  <label for="file">Documento de Licitacion:</label>
  <input name="file" type="file" id="file">
  <br><br>

  <label for="startTenderDate">Fecha inicio de la licitacion:</label>
  <input type="datetime" name="startTenderDate">
  <br><br>

  <label for="endTenderDate">Fecha fin de la licitacion:</label>
  <input type="datetime" name="endTenderDate">
  <br><br>


  <p>
    <button type="submit">Save</button>
  </p>
  <p>    
    <% if (model.error) { %>
      <font color="red"><i>${model.error}<i></font>
    <% } %>
  </p>

</form>

<a href="/">Cancel</a>

</body>
</html>
