<html>  
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
    <title>sinapuli</title>
	<script src="/scripts/jquery-1.10.2.min.js"></script>
	<script src="/scripts/jquery-ui-1.10.3.custom.min.js"></script>
	<link href="/css/jquery-ui-1.10.3.custom.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		jQuery.noConflict();
		jQuery(document).ready(function(\$){
			\$("input[name='fechaInicioLicitacion']").datepicker({ dateFormat: 'dd/mm/yy' });		
			\$("input[name='fechaFinLicitacion']").datepicker({ dateFormat: 'dd/mm/yy' });
		});
	</script>
  </head>
  
  <body>
    </div>


<h1>Crear Proyecto</h1>
<p>Complete la informacion del proyecto.</p>
<form action="/proyect/submit" method="post" accept-charset="utf-8">


  <label for="name">Nombre:</label>
  <input type="text" name="name">
  <br><br>

  <label for="descripcion">Descripcion:</label>
  <input type="text" name="descripcion">
  <br><br>
  
  <label for="fechaInicioLicitacion">Fecha inicio de la licitacion:</label>
  <input type="datetime" name="fechaInicioLicitacion">
  <br><br>

  <label for="fechaFinLicitacion">Fecha fin de la licitacion:</label>
  <input type="datetime" name="fechaFinLicitacion">
  <br><br>


  <p>
    <button type="submit">Save</button>
  </p>
  
</form>

<a href="/">Cancel</a>

</body>
</html>
