<html>  
  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
    <title>sinapuli</title>
  </head>
  
  <body>
    <div id="header">
      <p><img src="/images/Argentina.png"></p>    
      <h1>Sistema Nacional publico de licitaciones (sinapuli)</h1>
	  <% if (model.loggedIn) { %>
		<h2>Usuario: ${model.loginName}</h2>
		<a href="/logout">Logout</a>
	  <% } else { %>
		<a href="/login">Login</a>
      <% } %>
	  <hr/>
    </div>

<table class="gridtable">
    <tr>
      <th>ID</th><th>NOMBRE</th><th>DESCRIPCION</th><th>FECHA CREACION</th><th>FECHA INICIO LICITACION</th><th>FECHA FIN LICITACION</th><th>OFERTAR</th><th>EDIT</th><th>DELETE</th>
    </tr>

<%model.proyectList.each() { %>
	<% 
	def nombreProject = it.nombre;
	if (nombreProject.size() == 0)
		nombreProject = "Sin Nombre";		
	%>
	
    <tr>
	<td>${it.id}</td>
	
	<td><a href="/proyect/offerts/${it.id}" title="ver ofertas">${it.nombre}</td>	  
	<td>${it.descripcion}</td>	 
	<td>${it.fechaCreacion}</td>	 
	<td>${it.fechaInicioLicitacion}</td>
	<td>${it.fechaFinLicitacion}</td>	
	<td><a href="/tenderOffer/new/${it.id}">Ofertar</td> 	 
	<td><a href="/proyect/edit/${it.id}"><img src="/images/edit.png" /></td>
	<td><a href="/proyect/delete/${it.id}/${nombreProject}"><img src="/images/delete.png" /></td>
    </tr>
<% }%>

</table>

<br>
<br>
<p><a href="/proyect/new">Agregue un nuevo Proyecto!</a></p>

<table class="gridtable">
    <tr>
      <th>ID</th><th>NAME</th><th>EDIT</th><th>DELETE</th>
    </tr>

<%model.offererList.each() { %>
    <tr>
      <td>${it.id}</td>
      <td>${it.name}</td>	  
      <td><a href="/offerer/edit/${it.id}"><img src="/images/edit.png" /></td>
   	  <td><a href="/offerer/delete/${it.id}"><img src="/images/delete.png" /></td>
    </tr>
<% }%>

</table>
<br>
<br>

<p><a href="/offerer/new">Registrar nuevo oferente!</a></p>

<!--

  <table class="gridtable">
    <tr>
      <th>ID</th><th>HASH</th><th>DOCUMENT</th><th>OFERENTE</th><th>EDIT</th><th>DELETE</th>
    </tr>

<%model.tenderOfferList.each() { %>
    <tr>
      <td>${it.id}</td>
      <td>${it.hash}</td>	  
      <td>${it.document}</td>
      <td>${it.offerer?.name}</td>
      <td><a href="/tenderOffer/edit/${it.id}"><img src="/images/edit.png" /></td>
   	  <td><a href="/tenderOffer/delete/${it.id}"><img src="/images/delete.png" /></td>
    </tr>
<% }%>

</table>

<br>
<br>
<p><a href="/tenderOffer/new">Agregue nueva licitacion!</a></p>-->
</body>

</html>
