<!doctype html>
<html>  
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/css/site.css" rel="stylesheet" type="text/css" />
  <title>sinapuli</title>
</head>

<body>
  <h1>Login</h1>
  <form method="POST">
    <p>
     <label for="username">Nombre de usuario:</label>
     <input id="username" name="username">
   </p>
   <p>
     <label for="password">Contraseña:</label>
     <input id="password" type="password" name="password">
   </p>
   <p>
     <input type="submit" value="Login">
     <a href="/register">Registrarse como nuevo oferente</a>
   </p>
   <p>    
      <% if (model.error) { %>
          <font color="red"><i>${model.error}<i></font>
      <% } %>
   </p>
 </form>
</body>

</html>
