body {
  margin-top: 60px;
  margin-bottom: 60px;
}

.extra-actions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.extra-actions a {
  margin-right: 20px;
}

.page-header {
  margin-top: 0;
}

.project-description {
  white-space: pre-wrap;
}

form.inline-form {
  display: inline;
}

.public-key {
  font-family: Courier New, monospace;
  white-space: pre-wrap;
}

