{{#partial "content"}}
<div class="page-header">
  <h1>Registración de Oferentes</h1>
</div>

<div class="row">
  {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/if}}

  <form method="POST" role="form" class="col-md-6">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input id="name" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="publicKey">Clave Pública</label>
      <textarea name="publicKey" class="form-control"></textarea>
    </div>
    </p>
    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input id="username" name="username" class="form-control">
    </div>
    </p>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input id="password" type="password" name="password" class="form-control">
    </div>
    </p>
    <div class="form-group">
      <label for="repeat_password">Repetir Contraseña</label>
      <input id="repeat_password" type="password" name="repeat_password" class="form-control">
    </div>

    <button type="submit" class="btn btn-default">Registrar nuevo oferente</div>

    <p class="extra-actions">
      <a href="/login">Login</a>
    </p>
  </form>

</div>
{{/partial}}

{{> layout/main}}

